<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
     </head>
<body>
    <div class="menu">
        <div class="wrap">
            <div class="logo">
                <a href="{% url 'index' %}"><img src="{% static 'sostav/logo.png' %}" alt=""></a>
            </div>
            <ul>
                <li><a href="{% url 'blogs' %}">Новости</a></li>
                <li><a href="{% url 'index' %}">Состав</a></li>
                <li><a href="{% static 'sostav/pdfslide.net_-85-1990-.pdf' %}" target="_blank">История</a></li>
            </ul>
            {% if user.is_authenticated %}
            
            <div class="user">
                <ul>
                    <li class="logo"> Пользователь: {{ user.username }} </li>
                    <li><a href="{% url 'addpost' %}">Создание статьи</a></li>
                    <li><form action="{% url 'logoutuser' %}"  method="post">
                        {% csrf_token %}
                        <button class="top">
                            Выйти
                        </button>
                    </form>
                </ul>
            </div>

            {% else %}

            <div class="user">
                <ul>
                    <li><a href="{% url 'signupuser' %}">Зарегистрироваться</a></li>
                    <li><a href="{% url 'loginuser' %}">Войти</a></li>
                </ul>
            </div>

            {% endif %}
        </div>
    </div>
    <div class="content">
        <div class="wrap">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    
</body>
</html>